@using TelephoneDirectory.Entities.Concrete
@model TelephoneDirectory.MVC.Models.PersonListViewModel
@{
    ViewBag.Title = "Ekleme";
    Layout = "_Layout";
}
<!DOCTYPE html>

<h2>Kişi Ekleme</h2>
<html>
<body>
<div>
    <div style="background-position-x: left">  @DateTime.Now</div>
    <br/>
   

</div>
</body>
</html>
